.keypad {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.data-input-keys, .function-keys {
  display: grid;
  grid-auto-rows: 100px;
}

@media (max-width: 500px) {
  .data-input-keys, .function-keys {
    grid-auto-rows: 70px;
  }
}

.data-input-keys {
  flex: 0 0 75%;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
}

.function-keys {
  flex: 0 0 25%;
  grid-template-columns: 1fr;
  color: white;
  background: crimson;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border: 0.5px solid gray;
}

@media (max-width: 500px) {
  .btn {
    font-size: 2rem;
  }
}

.action-btn {
  grid-column: span 3;
}

.action-btn:first-child {
  font-weight: normal;
}

