.keypad {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.data-input-keys {
  flex: 0 0 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(30px, 50px);
  border: 1px solid gray;
}

.function-keys {
  flex: 0 0 20%;
  border: 1px solid gray;
  background: crimson;
  border: 1px solid gray;
}

.action-btn {
  grid-column: span 3;
  border: 1px solid magenta;
}

.number-btn {
  border: 1px solid blue;
}